{% extends "base.html" %}

{% block title %}Moja lista filmów{% endblock %}

{% block content %}

<a href="{% url 'movies_create' %}" class="btn btn-success">Dodaj nowy film</a>

{% for movie in movies %}
<div class="card m-2">
    <div class="card-body">
        <h5 class="card-title">{{movie.title}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ movie.director|default_if_none:"Brak reżysera" }}
        </h6>
        <p class="card-text">
            {{ movie.short_description|truncatewords:20 }}
        </p>
        <a href="{% url 'movies_detail' movie.pk %}" class="card-link">Szczegóły</a>
        <a href="{% url 'movies_update' movie.pk %}" class="card-link">Edycja</a>
    </div>
</div>
{% endfor %}

{% endblock content %}