{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger">Wystąpiły błędy!</div>
{% endif %}

<form method="post" action="{% url 'user_signup' %}">
    {% csrf_token %}

    {% for field in form %}
    <div class="m-3">
        <label for="{{ field.id_for_label }}" class="form-label">
            {{ field.label }}
        </label>
        <input name="{{ field.html_name }}" type="{{ field.widget_type }}"
            class="form-control {% if field.errors %}is-invalid{% elif form.is_bound %}is-valid{% endif %}"
            id="{{ field.id_for_label }}" value="{{ field.value|default_if_none:'' }}">
        <div class="invalid-feedback">
            {{ field.errors }}
        </div>
    </div>
    {% endfor %}

    <input type="submit" class="btn btn-primary" value="Zarejestruj się">
</form>

{% endblock %}